.registration {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 0 auto;
  width: 50%;
  max-width: 564px;
  padding: 40px 54px;
  border-radius: 18px;
}
