
.btn {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.outline {
    padding: 8px 20px;
    background: none;
    color: #7469EF;
    border: 2px solid #7469EF;
    border-radius: 50px;
}