.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #e5e5e5;
  overflow: auto;
}

.container {
  width: 50%;
  padding: 70px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #46445c 0%, #7469ef 41.79%, #f1ebd6 100%);
}

.logo {
  max-width: 451px;
  width: 100%;
}

.content {
  max-width: 564px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
