.wrapper {
  position: relative;
  max-width: 100%;
  top: 0;
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  z-index: 0;
  background-color: var(--color-grey);
  height: 100%;
}
