.wrapper {
  position: relative;
  margin-left: 240px;
}

.header {
  width: 100%;
  padding: 30px 40px 59px 40px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  background: radial-gradient(115.91% 115.91% at 50% 50%, #7469ef 0%, #545266 100%);
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 127%;
  color: var(--color-white);
}
.description {
  margin-top: 12px;
  font-size: 20px;
  line-height: 127%;
  color: var(--color-white);
}

.content {
  position: relative;
  top: -40px;
  display: flex;
  flex-flow: row wrap;
  padding: 0 40px;
}

@media screen and (max-width: 820px) {
  .wrapper {
    margin-left: 0;
  }
}