.tariff {
  margin-bottom: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.04);
  padding: 45px 40px;
  box-sizing: border-box;
  border-radius: 34px;
  color: var(--very-dark-gray);

  @media screen and (max-width: 768px) {
    padding: 22px 40px;

    & > div {
      row-gap: 10px;
    }
  }

  &.green {
    border: none;
    background-color: var(--light-grayish-cyan-lime-green);

    &.border {
      border: 1px solid #49a663 !important;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.border {
    border: 1px solid var(--gray);
  }
}

.title {
  max-width: 255px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;

  color: #373737;

  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

.price {
  display: flex;
  justify-content: center;
  flex-direction: column !important;

  max-width: 250px;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
  }

  @media screen and (max-width: 500px) {
    text-align: center;
  }

  &.green {
    color: var(--dark-moderate-cyan-lime-green);

    span {
      @media screen and (max-width: 768px) {
        padding-top: 22px;
      }
    }
  }

  span {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    white-space: nowrap;
    display: block;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  small {
    display: block;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;

    color: #8a92a6;
  }
}

.list {
  max-width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 16px;

  @media screen and (max-width: 500px) {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 auto;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;

    &.economy {
      opacity: 0.3;
    }

    span {
      white-space: nowrap;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.wrapperButton {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  @media screen and (max-width: 768px) {
    align-items: flex-end;
  }

  @media screen and (max-width: 500px) {
    padding-top: 12px;
    justify-content: center;
  }

  .button {
    width: auto;
    height: max-content;
    box-shadow: none !important;

    &:hover {
      box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px rgb(0 0 0 / 14%),
        0px 1px 18px rgb(0 0 0 / 12%) !important;
    }
  }
}
