.statement {
  margin: 50px 0 0 50px;
  width: 842px;
  height: 595px;
  display: flex;
  background: #fff;
  position: relative;
}

.statement__left {
  width: 153px;
  height: 100%;
  background: #4d459e;
}

.statement__left svg {
  margin: 55px 0 0 30px;
}

.statement__right {
  width: 691px;
  height: 100%;
  background: url('./background.png') top left 15px no-repeat,
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(246, 246, 246, 0.32) 0%,
      rgba(233, 232, 241, 0.32) 100%
    );
  padding-left: 52px;
}

.statement__header {
  margin-top: 50px;
  font-family: 'Jost';
  font-style: normal;
  text-transform: uppercase;
}

.statement__header__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 127%;
  letter-spacing: 0.11em;
  color: #29214a;
}

.statement__header__subtitle {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 127%;
  letter-spacing: 0.18em;
  color: #8581ae;
}

.statement__preInfo {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 127%;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #bfbaf7;
}

.statement__info {
  margin-top: 5px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 127%;
  color: #29214a;
}

.statement__name {
  letter-spacing: 0.02em;
}

.statement__name .statement__preInfo {
  margin-top: 94px;
}

.statement__course {
  margin-top: 52px;
}

.statement__date {
  margin-top: 52px;
}

.statement__date .statement__info {
  font-size: 18px;
  line-height: 127%;
}

.statement__signature {
  position: absolute;
  bottom: 23px;
  right: 27px;
  text-align: center;
  font-family: Nunito;
  font-size: 13px;
  line-height: 127%;
  letter-spacing: 0.02em;
  color: #29214a;
}
