.layout {
  border-radius: 4px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.baskets {
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.actions {
  padding: 16px 8px;
  display: flex;
  justify-content: flex-end;
}

.basket {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  max-width: 516px;

  padding: 12px;
  height: 100%;

  .title {
    text-align: center;
    font-size: 1.125rem;
    color: #05192d;
    font-weight: 800;
    line-height: 1.2;
    margin: 0.25em 0;
  }

  .dropZone {
    border: 2px dashed rgba(5, 25, 45, 0.3);
    color: rgb(5, 25, 45);
    height: 100%;
    margin-top: 16px;
    min-height: 192px;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    max-width: 640px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.card {
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 0 1px 3px 0;
  margin-left: 0;
  transition: width 0.1s ease 0s, margin-left 0.2s ease 0s;
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 4px;
  padding: 16px;
  white-space: pre-wrap;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  user-select: none;
  cursor: grab;

  &.error {
    border: 1px solid var(--error-red);
    border-left: 4px solid var(--error-red);
  }

  svg {
    flex: 0 0 auto;
    margin: 12px 18px;
    position: absolute;
    right: -12px;
    top: -7px;
  }

  p {
    font-weight: 600;
    color: #3c3c3c;
    margin: 0 7px 0 0;
  }
}
