.quiz {
  margin: 0 20px 20px 20px;
  .quizItem {
    margin: 20px 0;
    label {
      font-size: 16px;
      align-items: flex-start;
    }
    span {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      line-height: normal;
      letter-spacing: normal;
    }
  }
}
