.wrapper {
  width: 100%;
  position: relative;
}

.professionsList {
  position: relative;
  top: -19px;
  display: grid;
  grid-gap: 30px 23px;
  grid-template-columns: repeat(auto-fit, minmax(370px, 370px));
  justify-content: center;
}


@media screen and (max-width: 830px) {
  .professionsList {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}