.skill {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 45px;

    &::after {
      position: absolute;
      display: block;
      top: 133px;
      left: 21px;
      content: '';
      height: 102%;
      width: 1px;
      background: var(--light-gray);
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 44px;
    height: 44px;
    background: var(--color-white);
    border: 2px solid var(--light-gray);
    border-radius: 50%;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 16px;
    color: var(--color-black);
  }

  &__block {
    width: 92%;
  }

  &__test {
    font-family: 'Nunito';
    font-size: 20px;
    line-height: 127%;
    color: rgba(45, 45, 45, 0.5);
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  &__content {
    background: #ffffff;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.04);
    border-radius: 18px;
    padding: 40px 40px 33px;
    position: relative;
  }

  &__title {
    display: flex;
    align-items: center;
    font-family: 'Jost';
    font-weight: bold;
    font-size: 24px;
    color: var(--color-black);

    img {
      margin-right: 15px;
      width: 38px;
      height: 38px;
    }
  }

  &__description {
    margin-top: 10px;
    font-family: 'Nunito';
    width: fit-content;
    margin-right: 260px;
    max-width: 580px;
    font-size: 16px;
    line-height: 139.5%;
    color: var(--color-black);
  }

  .item_notAvailable {
    opacity: 0.5;

    &.item {
      cursor: inherit;
      &:hover {
        circle {
          fill: var(--purple);
        }
        path {
          fill: var(--color-white);
        }
        .itemTitle {
          color: var(--color-black);
        }
        background: none;
        transition: none;
      }
    }
  }

  &__info {
    width: 50%;
    margin-top: 25px;
    display: flex;
    align-items: center;

    &__hour {
      display: flex;
      width: 100px;
      font-family: 'Nunito';
      font-size: 14px;
      color: #8a92a6;

      svg {
        margin-right: 8px;
      }
    }
  }

  .btn {
    position: absolute;
    top: 50px;
    right: 40px;
  }

  .btnContent {
    position: absolute;
    top: 110px;
    right: 40px;
    transition: all 0.5s;

    &Open {
      top: inherit;
      bottom: 40px;
    }
  }
}

.pb50 {
  padding-bottom: 50px;
}

.courseWrap {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.courseHead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 35px;
  border-top: 1px solid #d8d8d8;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 777px;
  margin-right: 50px;
  width: 100%;
}

.courseTitle {
  display: flex;
  white-space: break-spaces;
  font-family: Jost;
  font-weight: bold;
  font-size: 24px;
  line-height: 127%;
  color: var(--color-black);
  margin-bottom: 13px;
}

.courseDescription {
  font-family: Nunito;
  font-size: 16px;
  line-height: 139.5%;
  color: var(--color-black);
}

.itemLeft {
  display: flex;
  align-items: center;
  .itemImg {
    width: 24px;
  }
}

.btnWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 30px;
  min-width: 225px;
  button:not(:last-child) {
    margin-bottom: 0;
  }
}

.btn {
  width: max-content;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 20px;
  &:hover {
    circle {
      fill: #fff;
    }
    path {
      fill: var(--purple);
    }
    .itemTitle {
      color: #fff;
    }
    background: var(--purple);
    transition: 0.3s ease-in-out;
  }
}

.listWrap {
  margin-top: 0px;
  height: auto;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s;
}

.downOpen {
  opacity: 1;
  max-height: 2000px;
  margin-top: 25px;
}

.itemTitle {
  font-family: Jost;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
  margin-left: 15px;
}

.point {
  width: 7px;
  height: 7px;
  background: var(--color-poisonous-green);
  border-radius: 50%;
  margin-left: 15px;
}

.openRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.free {
  color: #313131;
  height: fit-content;
  margin-left: 10px;
  font-size: 12px;
  line-height: 24px;
  padding: 1px 14px;
  border-radius: 15px;
  background: var(--color-yelow);
}

.btnContentOpen {
  svg {
    transform: rotate(180deg);
  }
}

.btnContent {
  svg {
    transition: 0.2s ease-in-out;
    margin-left: 8px;
  }
}

@media screen and (max-width: 1440px) {
  .skill {
    &:not(:last-child) {
      &::after {
        display: none;
      }
    }

    &__number {
      position: absolute;
      z-index: 1;
      margin-top: 0;
      top: -20px;
      left: calc(48%);
    }

    &__block {
      width: 100%;
    }

    &:last-child {
      .skill__number {
        top: 20px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .skill {
    &__content {
      padding: 40px 25px 25px;
    }

    &__description {
      margin-right: 245px;
    }

    .btn {
      right: 25px;
      padding: 5px 22px;
      top: 95px;
    }

    .btnContent {
      right: 25px;
      padding: 5px 20px;
      top: 145px;

      &Open {
        top: inherit;
        bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .btnWrap {
    display: block;
    button {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .info {
    margin-right: 0;
  }
  .itemLeft {
    .itemTitle {
      word-break: break-word;
    }
  }
}
