.scroll {
  overflow-y: scroll;
  padding-bottom: 50px;
}

.wrapper {
  padding: 80px 120px 170px;
  width: 95%;
  max-width: 1820px;
  margin: 70px auto 0;
  background: url('../../../../assets/CertifBgTopLeft.png') top -370px left -550px no-repeat,
    url('../../../../assets/CertifBgOthers.png') top 50px right -340px no-repeat,
    url('../../../../assets/CertifBgOthers.png') bottom -110px left -330px no-repeat,
    url('../../../../assets/CertifBgBottonRight.png') bottom -630px right -430px no-repeat,
    var(--color-grey);
  border-radius: 32px;
  position: relative;

  .exit {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .pretitle {
    width: 726px;
    height: 69px;
    margin: 0 auto;
    text-align: center;
    padding-top: 13px;
    background: var(--very-light-yellow);
    border-radius: 10px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 30px;
    color: var(--mostly-desaturated-dark-blue);
  }

  .maintitle {
    margin: 40px auto 110px;
    text-align: center;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
  }

  .block {
    display: flex;
    justify-content: space-between;

    .certificate {
      margin-right: 50px;
      filter: drop-shadow(12px 10px 59px rgba(51, 44, 125, 0.12));
    }

    .title {
      font-family: 'Jost';
      font-weight: 700;
      font-size: 36px;
      line-height: 127%;
      color: var(--very-dark-desaturated-blue);
    }

    .subtitle {
      margin: 20px 0 40px;
      font-family: 'Nunito';
      font-size: 20px;
      line-height: 127%;
      color: var(--very-dark-desaturated-blue);
    }

    .when {
      max-width: 710px;

      &__item {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        &__number {
          margin-right: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          background: var(--color-white);
          border: 2px solid var(--light-gray);
          border-radius: 50%;
        }

        &__text {
          width: 90%;
          max-width: 650px;
          font-family: 'Nunito';
          font-weight: 700;
          font-size: 20px;
          line-height: 127%;
          color: var(--very-dark-desaturated-blue);
        }
      }
    }

    .how {
      margin: 130px auto 0;
      text-align: center;

      .subtitle {
        max-width: 700px;
      }

      &__list {
        width: 810px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__item {
        width: 25%;
        height: 125px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
          &::after {
            display: block;
            content: '';
            position: absolute;
            top: 191px;
            left: 122px;
            width: 100%;
            height: 2px;
            background: var(--purple);
          }
        }

        &__text {
          position: absolute;
          bottom: 0;
          text-align: center;
          width: 100%;
          margin: 0 auto;
          font-family: 'Nunito';
          font-weight: 700;
          font-size: 20px;
          line-height: 127%;
          color: var(--very-dark-desaturated-blue);
        }

        &__number {
          position: absolute;
          top: 170px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          color: var(--purple);
          background: var(--color-grey-second);
          border: 2px solid var(--purple);
          border-radius: 50%;
          font-family: 'Nunito';
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 80px 30px 170px;

    .block {
      .certificate {
        padding-top: 70px;
        margin-right: 35px;

        img {
          width: 517px;
          height: 287px;
        }
      }

      .when {
        max-width: none;

        &__item {
          &__text {
            width: 92%;
            max-width: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    .title,
    .subtitle {
      text-align: center;
    }

    .block {
      flex-direction: column-reverse;
      align-items: center;

      .certificate {
        margin-top: 45px;
        width: 100%;
        padding-top: 0;
        margin-right: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      .when {
        max-width: none;

        &__item {
          &__text {
            width: 92%;
            max-width: none;
          }
        }
      }

      .how {
        .subtitle {
          margin: 20px auto 40px;
        }

        &__list {
          width: auto;
        }

        &__item {
          &:not(:last-child) {
            &::after {
              left: 63%;
              width: 85%;
            }
          }
        }
      }
    }
  }
}
