:global {
  .ace_gutter-layer {
    background: #2c2a3f;
  }
  .ace-tm .ace_gutter-active-line {
    background-color: #29273b;
  }
  .ace_scroller {
    background: #2c2a3f;
  }
  .ace-monokai .ace_comment {
    color: #00ff19;
  }
  .ace_scroller .ace_print-margin {
    background: none;
  }
}
