.left__side {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 100%;
}
.right__side {
  display: flex;
  align-items: center;
  padding: 0 14px;
  margin-right: 5px;
  height: 100%;
}

.experience {
  background: #ffe27b;
  color: #2d2d2d;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  border-radius: 4px;
  padding: 3px 6px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.instructions {
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 10px;
  p {
    margin: 20px 0;
  }
  ul {
    margin-left: 20px;
    list-style-type: disc;
    li {
      margin: 20px 0;
    }
  }
  p,
  li,
  code {
    font-size: 16px;
  }
}

.quiz {
  margin: 0 20px 20px 20px;
  .quizItem {
    margin: 20px 0;
    label {
      font-size: 16px;
    }
    span {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      line-height: normal;
      letter-spacing: normal;
    }
    .top {
      align-items: flex-start;
    }
  }
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--purple);
  height: 44px;
  .title {
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 127%;
    color: #ffffff;
  }
}
