.footer {
  width: 100%;
  min-height: 565px;
  background: #46445C;
  padding: 70px 100px;

  &__menu {

    a {
      display: block;
      margin-top: 22px;
      font-family: 'Nunito';
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.005em;
      color: #FFFFFF;

      &:first-child {
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 1380px) {
  .footer{
    min-height: 355px;
  }
}