.footer {
  width: 100%;
  min-height: 565px;
  background: #46445C;

  &__menu {

    a {
      display: block;
      margin-top: 22px;
      font-family: 'Nunito';
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.005em;
      color: #FFFFFF;

      &:first-child {
        margin-top: 60px;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 70px 100px;
}

@media (min-width: 1921px) {

}

@media (max-width: 1380px) {
  .footer {
    min-height: 219px;

    &__menu {
      a {
        font-size: 14px;
        margin-top: 0;

        &:first-child {
          margin-top: 25px;
        }
      }
    }
  }

  .container {
    padding: 35px 100px;
  }
}

@media (max-width: 1024px) {
  .footer {
    &__logo {
      svg {
        width: 151px;
        height: 28px;
      }
    }
  }

  .container {
    padding: 35px 62px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 35px 40px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 35px 20px;
  }
}