.infoWrapper {
  margin-top: 14px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &.offer {
    margin-top: 24px;
    align-items: flex-start;

    .info {
      font-family: Nunito;
      font-size: 14px;
      line-height: 142.9%;
      letter-spacing: -0.015em;
      color: var(--vary-dark-gray);
      cursor: pointer;
    }
  }

  &.end {
    margin-top: 24px;
    align-items: flex-start;

    .info {
      font-family: Nunito;
      font-size: 14px;
      line-height: 142.9%;
      letter-spacing: -0.015em;
      color: rgba(255, 255, 255, 0.68);
    }

    .infoLink {
      color: var(--vivid-yellow);
    }
  }
}

.info {
  font-size: 12px;
  line-height: 142.9%;
  letter-spacing: -0.015em;
  color: var(--gray-second);
}

.infoLink {
  color: var(--purple);
}

@media (max-width: 1110px) {
  .infoWrapper {
    &.offer {
      .info {
        font-size: 12px;
      }

      span {
        padding: 0 6px 0 0;
      }
    }

    &.end {
      .info {
        font-size: 12px;
      }

      span {
        padding: 0 5px 0 0;
      }
    }
  }
}
