* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --black: #000000;
  --color-grey: #f0f0f0;
  --color-grey-second: #f8f8f8;
  --color-grey-third: #f1ebd6;
  --bg-home: #eae7ff;
  --purple: #7469ef;
  --lighth-purple: #948bf9;
  --lavender: #cbc7fa;
  --dark-purple: #524aa8;
  --grey: #413f56;
  --dark: #2d2863;
  --red: #d15555;
  --dark-red: #621b16;
  --error-red: #f44336;
  --orange-red: #fa7f6e;
  --slightly-desaturated-orange: #d7c096;
  --color-black: #2d2d2d;
  --color-green: #35b049;
  --color-green-second: #67c080;
  --color-ligth-green: #63d167;
  --color-poisonous-green: #22f094;
  --moderate-blue: #5c52c4;
  --very-pale-yellow: #fff9c5;
  --pale-yellow: #fff4bc;
  --vivid-yellow: #fcc608;
  --blur-yellow: #edd765;
  --blur-yellow-second: #efc969;
  --light-grayish-blue: #e9ecef;
  --very-dark-grayish-blue: #46445c;
  --very-dark-grayish-blue-second: #545266;
  --moderate-violet: #9147cb;
  --mostly-desaturated-dark-blue: #615c9d;
  --very-dark-desaturated-blue: #29214a;
  --wild-blue-yonder: #827eb8;
  --very-light-gray: #e4e4e4;
  --very-light-gray-second: #e7e7e7;
  --very-light-gray-third: #dbe3f7;
  --very-light-gray-fourth: #f2eeff;
  --very-light-gray-fifth: #cac3ed;
  --very-light-gray-sixth: #f1e6e5;
  --light-gray: #cdcdcd;
  --light-gray-two: #d6d6d6;
  --very-dark-grayish-violet: #594d6d;
  --gray: #bbbbbb;
  --gray-second: #b8b8b8;
  --gray-third: #adb5bd;
  --gray-fourth: #eceafb;
  --gray-fifth: #ccc;
  --gray-sixth: #e8e8e8;
  --dark-gray: #9d9d9d;
  --vary-dark-gray: #525252;
  --medium-dark-gray: #979797;
  --very-dark-gray: #373737;
  --very-light-gray: #e5e5e5;
  --input-gray: #ececec;
  --scrollout-gray: #e0e0e0;
  --scrollin-gray: #f3f3f3;
  --light-grayish-cyan-lime-green: #dff1e4;
  --dark-moderate-cyan-lime-green: #49a663;
  --pure-yellow: #fff500;
  --dark-grayish-violet: #7f758f;
  --light-grayish-blue: #f2f1fd;
  --grayish-violet: #c3bed1;
  --soft-red: #de4949;
  --very-soft-blue: #a59df5;
  --slightly-desaturated-red: #d77474;
  --Very-soft-blue-two: #a9a2f5;
  --very-light-yellow: #ffe27b;
  --dark-grayish-blue: #8a92a6;
  --skillcard-blue-one: #6078f5;
  --skillcard-blue-two: #97a3e2;
  --skillcard-red-one: #ef9169;
  --skillcard-red-two: #eab6a0;
  --skillcard-green-one: #50b065;
  --skillcard-green-two: #94cca0;
  --gainsboro: #dfdfdf;
  --neon-blue: #5d4ff4;
  --valhala: #2c2a3f;
  --dodger-blue: #3091eb;
  --indigo: #43008d;
  --very-light-gray: #e1e1e1;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: #f1f0fc;
  color: var(--dark);
  padding: 0 4px;
  border-radius: 6px;
}

textarea {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

p,
li {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  line-height: 28px;
}

h2 {
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#root {
  height: 100%;
  overflow: hidden;
}
